<h2>Currency Converter</h2>
<div class="form-group">
	<label for="exampleFormControlSelect1">From:</label>
	<select class="form-control" id="exampleFormControlSelect1" (change)="setCurrencyFrom($event.target.value)">
		<option *ngFor="let currency of currencies">{{ currency }}</option>
	</select>
</div>
<label>Amount:</label>
<input type="number" value="{{ amount }}" min="0" step="any" (input)="clearConversion()" [(ngModel)]="amount"/>
<hr />
<div class="form-group">
	<label for="exampleFormControlSelect1">To:</label>
	<select class="form-control" id="exampleFormControlSelect1" (change)="setCurrencyTo($event.target.value)">
		<option *ngFor="let currency of currencies">{{ currency }}</option>
	</select>
</div>
<button type="button" (click)="getConversionRate()">Convert</button>
<hr />
<h3>{{ amount + " " + currencyFrom }} = {{conversion + " " + currencyTo}}</h3>

