<div class="container">
	<h2>Twitter Link Demo</h2>
	<label>Your Twitter Handle: </label>
	<input type="text" [(ngModel)]="twitterHandle" />
	<div [hidden]="twitterHandle.length == 0">
		<a href="https://twitter.com/{{ twitterHandle }}">Twitter link for @{{ twitterHandle }}</a>
	</div>
	<div [hidden]="twitterHandle.length != 0">
		<a href="https://twitter.com">Twitter</a>
	</div>
</div>