<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/">{{ appTitle }}</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="/hello">Hello</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/twitter">Twitter</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/list">List</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/http">Http</a>
			</li>
		</ul>
	</div>
</nav>