<h2>List Demo</h2>
<input type="text" [(ngModel)]="newListItem" />
<button type="button" (click)="addListItem()">Push</button>
<button type="button" (click)="removeListItem()">Pop</button>
<br />
<ul class="list-group">
	<li class="list-group-item list-group-item-dark" *ngFor="let listItem of itemList">
		{{ listItem }}
	</li>
</ul>